[2016-01-18 19:16] ridislam opened #1 "Why showing this error?"
Where the problem you faced?

[2016-01-18 19:46] ridislam commented on #1
Brother problem solved.

[2016-01-18 19:49] Shipu commented on #1
how to solve you need to describe, not only for you for other users.... Use only **`Api list`** Method in `READ.md` file .

[2016-01-19 06:18] nahid commented on #1
Where the problem you faced?

[2016-01-19 18:43] ridislam commented on #1
that was solved brother, i have mistaken to understand one method how to use. but later i got that.thank you.

[2016-04-29 18:59] #1 closed

[2016-06-06 01:15] kbirmhrjn opened #2 "Where are the tests?"
I don't see any tests at all.

[2016-06-06 15:06] jaahvicky commented on #2
After installing this package, is there a way i can test this application from the frontend. I would have expected the tutorial to give us a route that we can easily use to play around with application.

[2016-06-06 19:38] ptondereau commented on #2
I'm working on it, see #3

[2016-06-07 04:48] nahid commented on #2
Thank you @ptondereau for writing test case

[2016-06-07 21:45] ghprod opened #5 "Frontend Layout"
Hi,

Could you share your frontend layout? its really clean :)

Thanks

[2016-06-08 04:44] nahid commented on #5
Sure, its an open source project which is develop by my colleague @zafree . You can feel free to try it.
[BootAid Chat](http://zafree.github.io/bootaide/chat.html)

[2016-06-08 04:49] zafree commented on #5
Thanks mate @nahid

Hello @ghprod, fell free to use [bootaide](http://zafree.github.io/bootaide/). Hope you like it :)

[2016-06-08 17:32] ghprod commented on #5
Thanks a lot @zafree  @nahid

[2016-06-08 17:32] #5 closed

[2016-06-08 20:47] fishisawesome opened #6 "Facade not working"
i followed the instructions in the Readme and got
`Call to undefined method Nahid\Talk\Facades\Talk::setAuthUserId()`

[2016-06-09 05:10] nahid commented on #6
Sorry, its a minor bug. Thanks @fishisawesome for reporting it. Its already fixed. You may try _version :1.1.2_ or reinstall it.

[2016-06-09 05:44] fishisawesome commented on #6
awesome, thanks

[2016-06-09 05:44] #6 closed

[2016-06-09 12:26] #2 closed

[2016-06-10 11:16] ptondereau opened #7 "composer.lock must not be versioned"
composer.lock needs to be removed from this repository and shouldn't be versioned.

[2016-06-10 16:11] nahid commented on #7
Okay I'll remove it

[2016-06-11 10:15] #7 closed

[2016-06-14 02:32] sokmengheang opened #10 "Installation error"
The requested package nahid/talk No version set

[2016-06-14 17:11] nahid commented on #10
What type of problem you faced?

[2016-06-16 23:41] iadj opened #11 "Yii2 version"
This project looks absolutely amazing. Any chance you're porting this to Yii2 soon?

[2016-06-18 05:04] nahid commented on #11
Thank you for your complements. I just plan to release a standalone version. Hope it will help you :)

[2016-06-18 05:04] #11 closed

[2016-06-21 08:35] sozonets opened #12 "SendMessageByUserID"
sendMessageByUserId($userId, $message)

Hi, have a poser , when sending emails to the user (user_id), a letter comes constantly to himself .

[2016-06-21 08:46] nahid commented on #12
please write details

[2016-06-21 08:55] sozonets commented on #12
Talk::sendMessageByUserId('2','Hello');

http://prntscr.com/bj0snn

http://prntscr.com/bj0sty

[2016-06-21 16:46] nahid commented on #12
do you set `Talk::setAuthUserId()` ?

[2016-06-21 16:47] sozonets commented on #12
Yes

[2016-06-21 16:48] nahid commented on #12
please share your code

[2016-06-24 19:05] SadayNet opened #13 "Facede Error"
Please update your service provider. New installations giving Facede Error.
on line 72 `$this->app->alias('talk', Talk::class);` to `$this->app->alias('Talk', Talk::class);`
on line 82 `return ['talk'];` to `return ['Talk'];`

[2016-06-27 05:22] nahid commented on #13
Thank you @SadayNet  for your report. I'll fix it asap

[2016-07-12 10:52] SumonMSelim commented on #13
It's fixed. @nahid you may close it :)

[2016-07-12 11:00] nahid commented on #13
Thank you @SumonMSelim vai :)

[2016-07-12 11:00] #13 closed

[2016-07-13 19:53] hennessy7 commented on #6
The problem still persists.

[2016-07-14 06:39] nahid commented on #6
Try version 1.1.4

[2016-07-14 07:56] hennessy7 commented on #6
Same...
FatalErrorException in Facade.php line 217: Call to undefined method Nahid\Talk\Facades\Talk::setAuthUserId()

[2016-07-14 11:25] hennessy7 commented on #6
How can I trick the facade?

[2016-07-14 12:54] nahid commented on #6
in `TalkServiceProvider.php` change
[code]
to
[code]

[2016-07-14 15:46] hennessy7 commented on #6
Nothing changes. The function provides() is not being used.

[2016-07-16 22:41] 13dev opened #16 "demo/"
do you have any basic example ou demo ?

[2016-07-17 07:08] nahid commented on #16
You may follow readme's instructions

[2016-07-26 04:23] rrajesh145 opened #17 "QueryException in Connection.php line 662:"
I am getting below error invoking getInbox() method in my Laravel application , Can you please suggest a fix .

[code]

[2016-07-26 07:24] nahid commented on #17
@rrajesh145 please share your code. I just check now with fresh installation. Its worked fine

[2016-07-27 05:07] rrajesh145 commented on #17
@nahid  . Below is the code i used in method of controller
[code]

[2016-07-27 08:14] nahid commented on #17
Please remove it first and then install again

[2016-07-28 10:08] credencysrajesh commented on #16
hi please provide demo

[2016-07-28 13:34] Shipu commented on #16
@credencysrajesh it will be publish very soon.....

[2016-07-28 14:08] 13dev commented on #16
how much time ?

[2016-07-30 05:59] nahid commented on #16
I'll try ASAP :)

[2016-07-30 05:59] #16 closed

[2016-07-30 14:13] rrajesh145 commented on #17
It works now . But Why composer update is failing to update the latest code ?

[2016-07-31 05:33] nahid commented on #17
Is it show any error message when composer update?

[2016-07-31 05:33] #17 closed

[2016-08-03 09:07] rrajesh145 commented on #17
It doesn't shows neither error message nor new package installed message

[2016-08-06 16:41] 13dev opened #18 "how can i create a conversation?"
how can i create a conversation?

[2016-08-06 19:15] nahid commented on #18
just send a message using user id.

[code]

[2016-08-06 19:23] 13dev commented on #18
ty ! what did not realize was that we passed parameter in this command?
if you put 0 or nothing return all inbox  if you pu the user id return empty array

[2016-08-06 19:26] nahid commented on #18
You may first set authenticated users id like this

[code]

and then call this method with a receiver id

[code]

[2016-08-06 19:31] 13dev commented on #18
sorry in this command `Talk::getInbox()` can you explain what is parameter's ?

[2016-08-06 19:34] nahid commented on #18
Please read the doc.
https://github.com/nahid/talk#getinbox

this method has two optional parameters `$offset` and `$take`

[2016-08-06 19:40] 13dev commented on #18
and what they do, can you explain?
thanks in advance

[2016-08-06 19:41] nahid commented on #18
Its helps to you to make pagination.

[2016-08-06 19:41] #18 closed

[2016-08-08 12:15] 13dev opened #19 "count unread messages"
how i can count all unread messages of user ?

[2016-08-08 14:16] nahid commented on #19
In inbox message are already count unread messages.

[2016-08-11 07:40] thisismyaim opened #20 "Non-static method Nahid\Talk\Talk::setAuthUserId() should not be called statically"
I am following document and there is :

[code]

But getting error when use this

[2016-08-11 11:35] nahid commented on #20
please install version 1.1.5 and try again :)

[2016-08-12 22:05] cmarfil opened #21 "Routes, controllers and views"
As a suggestion, it would be great to have an example of controllers routes and views to integrate it in 10 minutes :D

[2016-08-13 05:41] nahid commented on #21
Thank you @cmarfil for your helpful suggestion. Yes I'll do it as soon as possible

[2016-08-19 10:14] OdoricaAjency opened #22 "Issue while deleting a message -- deleteMessage($messageId)"
'deleted_from_reciever' is column name in database where as in the function its 'deleted_from_receiver'

[2016-08-20 09:52] nahid commented on #22
ya, but it fixed in new version. Which version do you use?

[2016-08-22 05:57] OdoricaAjency commented on #22
1.1.5
that's the latest version right??

[2016-08-22 06:26] OdoricaAjency commented on #22
Talk.php line 280 $message->deleted_from_receiver = 1;
but in the db the column name is 'deleted_from_reciever'.

[2016-08-22 07:25] nahid commented on #22
Thank you @OdoricaAjency for find it out. I just fixed it :)

[2016-08-22 07:25] #22 closed

[2016-08-22 07:53] OdoricaAjency commented on #22
Hey this fix will not help.
Everywhere in the **code** it's 'deleted_from_reciever', changing the table column to 'deleted_from_receiver' will not help

All you need to do is change 'deleted_from_receiver' in Talk.php to 'deleted_from_reciever -- line 280

/nahid/talk/src/Conversations/ConversationRepository.php
/nahid/talk/src/Messages/Message.php
/nahid/talk/src/Messages/MessageRepository.php
al

[2016-08-22 07:55] OdoricaAjency opened #23 "'deleted_from_receiver' to be changed to 'deleted_from_reciever' in Talk.php"
Hey the latest fix will not help.
Everywhere in the code it's 'deleted_from_reciever', changing the table column to 'deleted_from_receiver' will not help

All you need to do is change 'deleted_from_receiver' in Talk.php to 'deleted_from_reciever -- line 280

/nahid/talk/src/Conversations/ConversationRepository.php
/nahid/talk/src/Messages/Message.php
/nahid/talk/src/Messages/MessageRepository.php

[2016-08-22 08:27] nahid commented on #23
Please update then package with version 1.1.6 and manually rename your messages table field to `deleted_from_receiver`. I think it will work fine

[2016-08-22 08:28] #23 closed

[2016-08-23 12:49] nick198205 opened #24 "termimal show `Trying to get property of non-object`"
After I installed talk using composer,added talk's service provider and alias into `app.php`,if I use `php artisan route:list` to list all my route,the terminal show errors to me :
[code]

[2016-08-23 14:40] nahid commented on #24
may be its not talk related errors. you may recheck your code.

[2016-08-23 14:58] nick198205 commented on #24
I have soveld this problem,with changing `Talk::setAuthUserId(auth()->user()->id);` to `if(auth()->user()){Talk::setAuthUserId(auth()->user()->id);}`.But now,a new problem comes to me,when I visit `http://localhost:8000/laravel-talk/example/message/inbox`,I saw 2 errors from console of my chrome:`jquery.min.js:2 Uncaught TypeError: Cannot read property 'classList' of null`,`jquery.min.js:2 Uncaugh

[2016-08-23 15:09] nick198205 commented on #24
I think all troubles I'm facing are because I haven't read your code line by line.I will read your example and document carefully again,thanks!

[2016-08-23 16:38] #24 closed

[2016-08-30 13:18] kavin-90 commented on #21
same here i want too Routes, controllers and views

[2016-08-30 13:26] nahid commented on #21
Please check the master branch, I just working with it :)

[2016-08-30 13:27] kavin-90 commented on #21
Thanks for your hard work.

[2016-09-20 13:29] SpikeLV opened #25 "Talk::getInbox();"
I try to use this function, but it returns only conversations where I'm a sender.
Is it right?

To get all conversation ( where I'm is as sender and where I'm is a replyer) which function do I need to use?

[2016-09-20 13:55] nahid commented on #25
As a authenticated user sender and replyer is a same thing. So when you send a message its act as a sender or replyer

[2016-09-20 15:42] SpikeLV commented on #25
I understand that, but by some reason I'm getting only where I'm sender

[2016-09-21 06:58] nahid commented on #25
Please give me an example...

[2016-09-21 08:52] SpikeLV commented on #25
Sent by mail

[2016-09-28 15:27] fahribaharudin opened #26 "Got error when run php artisan route:list command"
I got this error message when running php artisan route:list command:

PHP Fatal error:  Trait 'Illuminate\Foundation\Auth\Access\AuthorizesResources' not found in /home/fahri/Projects/thdc/project/vendor/nahid/talk/src/Example/TalkController.php on line 16

[2016-09-29 06:54] nahid commented on #26
which version of Laravel you used?

[2016-09-29 07:31] fahribaharudin commented on #26
Im using 5.3

[2016-10-06 15:24] ptondereau commented on #26
@fahribaharudin for project >= 5.3.*, upgrade guides says:

Remove it and it should work ;)

[2016-10-06 16:56] fahribaharudin commented on #26
I already remove that trait from my base controller sir, It seems the error is on nahid/talk/src/Example/TalkController.php i noticed there is  AuthorizesResources trait too on that controller

[2016-10-07 16:24] cobilasadrian opened #27 "SQL syntax error"
Hello , I have an error when calling the getInbox() method (use laravel 5.3):

SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'OR conv.user_two =
) and (msg.created_at)
in (
SELEC' at line 6 (SQL: SELECT user.id as receiver_id, user.name, msg.user_id as s

[2016-10-08 07:28] nahid commented on #27
Please try again with update version and follow the readme doc from first

[2016-10-19 08:30] ptondereau commented on #26
@fahribaharudin this is because Example shouldn't be include when we get this package (same namespace) @nahid I advise you to move Example folder away from `src/` folder or add a line into .gitattributes to exclude it

[2016-10-25 19:57] rohit3nov opened #29 "Illegal offset type on doing php artisan route:list"
on accessing **message/inbox** route after login and on doing **php artisan route:list,** showing Illegal offset type error :

ErrorException in Controller.php line 50:
**Illegal offset type**

I am using **laravel 5.1**
Nahid, could you help me ?
Thanks in advance.

[2016-11-02 11:00] tariqulislam opened #30 "About Installation and Route List Error"
I have Installed your project to laravel 5.1 and 5.3. After Installation I got error which is provided below
[Symfony\Component\Debug\Exception\FatalErrorException]
  Trait 'Illuminate\Foundation\Auth\Access\AuthorizesResources' not found
Your package is not working yet.

[2016-11-02 19:00] nahid commented on #30
please remove version 1.1.6 and try 1.1.7

[2016-11-17 05:42] Jparrishau commented on #30
I am getting the same error. Using 1.1.7

[2016-11-17 06:44] nahid commented on #30
Make sure its version 1.1.7. In this latest version there are no Example directory is available in package source. Please check it out.

[2016-11-25 14:37] samposin commented on #25
When i call Talk::getInbox() function after Talk::setAuthUserId(auth()->user()->id);
1. I am only getting one record.
2. One of the two login user, receiver id and sender id is same and also message is wrong
![issue](https://cloud.githubusercontent.com/assets/2486077/20628024/c634ead0-b349-11e6-86be-a9c0a78d09b2.png)
or
http://shareimage.posintechnologies.com/25_11_16_20_00_41.png

am i doing some

[2016-11-25 16:26] nahid commented on #25
Yes you do something wrong, inbox mean messages thread. when you call `getInbox`, it return you all message tread where you involve. If you want to get all message with your desire user, you have to call `getConversationsById($conversationId)` or `getConversationsByUserId($userId)`.

@samposin

[2016-11-28 08:08] samposin commented on #25
ok got it, thanks @nahid

[2016-11-28 14:16] Mgorunuch opened #31 "Can`t Rollback"
While rollback tables we have issue.

in database/migrations/**create_messages_table.php
`public function down()
    {
        Schema::drop('message');
    }`
change to
`public function down()
    {
        Schema::drop('messages');
    }`

[2016-11-29 06:50] nahid commented on #31
Sorry its a misstake, in next version I'll fix it. Thank you so much  for you kind informations.

[2016-11-29 06:50] #25 closed

[2016-12-03 19:19] #10 closed

[2016-12-03 19:21] #12 closed

[2016-12-03 19:22] #31 closed

[2016-12-03 19:25] #27 closed

[2016-12-05 09:41] RendyTan opened #33 "Documentation not complete"
Hi, just giving you a heads up. There are some functions that is not included in the documentation like Newconversation. Nice work, anyway!

[2016-12-05 11:09] 9818679544 opened #34 "while migrating"
[Symfony\Component\Debug\Exception\FatalErrorException]
  Class 'Illuminate\Notifications\NotificationServiceProvider' not found

[2016-12-05 12:16] azorpax commented on #34
what laravel version are you using?

[2016-12-05 13:11] nahid commented on #34
Which laravel are you using @9818679544 ?

[2016-12-05 15:00] RendyTan commented on #33
my bad, it wasn't supposed to be public, it's a good idea to make it public though

[2016-12-05 16:01] nahid commented on #33
You can access these methods from another public method. Therefore, it is not necessary to make these public.

[2016-12-05 16:01] #33 closed

[2016-12-06 13:42] moritzwelsch opened #35 "Cant send a message"
I implemented your example sites and all works fine.
I just simply cant send messages. Everytime i hit the "Send" button it gives back these 2 errors:
Uncaught TypeError: Cannot read property 'trim' of undefined(…)render @ index.js:30addMessage @ dispatch @ jquery.js:4430r.handle @ jquery.js:4116

POST http://localhost/ajax/message/send 500 (Internal Server Error)send @ jquery.js:8625ajax @ jquery

[2016-12-08 10:54] RabiCodie commented on #21
Great work Nahid
Can you please give us a live exmaple Route Controllers & views to see how does it work :)
thanks

[2016-12-20 10:54] newbielinuxuser opened #36 "Creating a new conversation"
So how do we create a new conversation if the conversation doesn't exist ?

[2016-12-20 16:08] nahid commented on #36
Just send a message `Talk::sendMessageByUserId($userId, $message)`. This system will automatically create a new conversation among this users.

[2016-12-21 20:45] nahid commented on #35
please remove index.js file from view. It will work fine

[2016-12-21 20:48] sehsah commented on #35
Erro view chat

Trying to get property of non-object (View: \resources\views\ajax\newMessageHtml.blade.php)

[2016-12-22 06:36] moritzwelsch commented on #35
POST http://localhost:8000/ajax/message/send 500 (Internal Server Error)
send @ jquery.js:8625
ajax @ jquery.js:8161
(anonymous) @ talk.js:16
dispatch @ jquery.js:4430
r.handle @ jquery.js:4116

[2016-12-25 07:26] sehsah commented on #20
where version 1.1.5 ?
how can install it ?

[2016-12-26 06:25] nahid commented on #20
@sehsah , to install version 1.1.5 just run this command in your terminal

[code]

[2016-12-26 06:25] #20 closed

[2016-12-26 06:27] sehsah commented on #20
same error  !

[2016-12-26 07:02] nahid commented on #20
please share your code and errors screenshot @sehsah

[2016-12-27 15:55] haheute opened #37 "get only messages which are not softdeleted"
Hello.
How can I get only the messages which are not `deleted_from_sender` ?
I show a conversation to a specific user and when I softdelete a message, it is still shown after it has been marked as `deleted_from_sender`.

It is good that a user can softdelete his/her copy of a message. But then I still see it.

        $messages = null;
        $conversations = Talk::getConversationsByUserId($user-

[2016-12-27 20:28] haheute opened #38 "order conversations by latest message instead of latest conversation change?"
Would it be possible to order the conversations of a user by its latest created message?

When a message of a conversation is deleted, its conversation's `updated_at` seems to change and the conversation moves to top of the list, although it has no new message....

I think it would be nice if only the conversation with the latest/newest message would be on top of the list. No changes in the conver

[2016-12-28 06:27] nahid commented on #38
Thank you for your kind information. I'll fixed it in next version

[2016-12-28 06:27] #38 closed

[2016-12-28 06:29] nahid commented on #37
please share your messages table and delation code.

[2017-01-02 11:30] newbielinuxuser commented on #36
alright, thanks!
btw, what about the live chat? cuz i don't see it's running pusher after sending messages
I installed this via 'composer require nahid/talk' in my laravel 5.2 projects

[2017-01-02 11:32] newbielinuxuser commented on #19
@nahid which method should we use for count unread messages?

[2017-01-02 11:53] 13dev commented on #19
getInbox

[2017-01-02 12:16] newbielinuxuser commented on #19
@13dev
Below is how I write the codes,

Controller
`$threads = Talk::threads(); return view('inbox', ['threads' => $threads]);`
View
`@foreach($threads as $value)
{{dd($value)}}
@endforeach`

Since threads are alias to getInbox, but even if i dump it, i still couldn't see the unread messages, what is the object name ?

[2017-01-02 12:23] 13dev commented on #19
you have this?

Talk::setAuthUserId(auth()->user()->id);

[2017-01-02 12:33] newbielinuxuser commented on #19
Yes, i put it as a constructor
    public function __construct()
    {
        Talk::setAuthUserId(Auth::user()->id);
    }

[2017-01-02 12:39] 13dev commented on #19
in controller dd($threads); before return and watch if returning anything

[2017-01-02 12:42] 13dev commented on #19
and dd(Auth::user()->id);

[2017-01-02 12:44] newbielinuxuser commented on #19
uh, yes, it does return something, same goes to the view that i commented just now, i just didn't know which object name it would be.

{#383 ▼
  +"thread": Message {#388 ▼
    #table: "messages"
    +timestamps: true
    #touches: array:1 [▶]
    +fillable: array:6 [▶]
    #connection: null
    #primaryKey: "id"
    #keyType: "int"
    #perPage: 15
    +incrementing: true
    #attributes: array:9

[2017-01-02 12:47] 13dev commented on #19
watch fillable

[2017-01-02 12:49] newbielinuxuser commented on #19
+fillable: array:6 [▼
      0 => "message"
      1 => "is_seen"
      2 => "deleted_from_sender"
      3 => "deleted_from_receiver"
      4 => "user_id"
      5 => "conversation_id"
    ]

[2017-01-02 12:53] 13dev commented on #19
is_seen return if message is read or not

[2017-01-02 12:53] nahid commented on #36
I'll release it in next version. If you want to work with it you may run `composer install --prefer-source nahid/talk`

[2017-01-02 12:53] #36 closed

[2017-01-02 13:00] newbielinuxuser commented on #19
alright, so i have to loop and count manually ? since im trying to get the total unread message.

[2017-01-02 13:06] 13dev commented on #19
you have to use getconversationByUserId()
 add me on fb and i help you -> https://www.facebook.com/profile.php?id=100010762173757

[2017-01-02 13:15] newbielinuxuser commented on #19
done

[2017-01-02 13:17] #19 closed

[2017-01-07 00:08] marwankhanfar opened #39 "Pusher Support"
Hello,
is pusher really working ? cause I checked the master and talk_live function is not called anywhere

[2017-01-07 03:41] nahid commented on #39
Yes is working. Its used in `makeMessage()` method in `Talk.php`

[2017-01-07 11:17] marwankhanfar commented on #39
I do see pusher events in my pusher account , however it's not reflected on interface , can you give me an example on how to embed  talk_live() js functionalites and where to provide it the $options variable it requires

[2017-01-07 11:57] marwankhanfar commented on #39
nevermind , I figured it out . Thanks :+1:

[2017-01-07 15:19] nahid commented on #39
You may follow http://github.com/nahid/talk-example

[2017-01-07 15:19] #39 closed

[2017-01-07 22:24] marwankhanfar opened #40 "Composer is not installing latest version of talk package"
Package installed by composer does not match the version in the master

[2017-01-08 04:40] nahid commented on #40
show any error?

[2017-01-08 09:32] marwankhanfar commented on #40
no error , its downloading a version with no pusher support

[2017-01-08 10:12] nahid commented on #40
ow, this version is not publish yet. you may use it from git clone

[2017-01-08 10:18] #40 closed

[2017-01-08 11:08] marwankhanfar commented on #40
can you publish so we can pull it using composer ?

[2017-01-09 07:19] nahid commented on #40
Talk v2.1.0 was released with realtime messaging. You may try. @marwankhanfar

[2017-01-09 09:22] marwankhanfar commented on #40
Thanks alot :)

[2017-01-11 08:16] vik0803 opened #41 "Convert to Live Webchat"
Hi,

Can this be converted to Live Webchat Laravel module as it seems to be for the registered users only within talk system?

Thanks
Vik

[2017-01-11 09:15] nahid commented on #41
Yes, You can. You may follow the example https://github.com/nahid/talk-example.

[2017-01-11 09:15] #41 closed

[2017-01-11 09:38] nahid commented on #21
Yes, I just develop a example project for Talk.

https://github.com/nahid/talk-example

[2017-01-11 09:38] #21 closed

[2017-01-11 09:45] nahid commented on #35
This issue should be in https://github.com/nahid/talk-example

[2017-01-11 09:45] #35 closed

[2017-01-11 09:49] nahid commented on #30
This problem was solved

[2017-01-11 09:49] #30 closed

[2017-01-11 09:49] nahid commented on #29
This problem was solved

[2017-01-11 09:49] #29 closed

[2017-01-11 09:57] nahid commented on #30
Duplicate #29

[2017-01-11 09:59] nahid commented on #29
Duplicate #26

[2017-01-11 10:00] #26 closed

[2017-01-11 10:08] nahid opened #42 "Built With Talk"
Please share your project which is built with Talk for messaging, chatting or forum app.

[2017-01-11 10:10] nahid opened #43 "User Feedback"
Please share your experience with Laravel Talk. Its helps to make the project better.

[2017-01-15 00:55] Dsaint109 commented on #42
I'm working on it... kudos for the good job.
The demo site isnt working tho

[2017-01-15 09:00] Shipu commented on #42
https://codecanyon.net/item/istart-laravel-multi-adminfrontend-theme-and-startup-tools/19072400

https://codecanyon.net/item/isupport-multi-purpose-support-ticket-system/19277316

[2017-02-03 11:44] jfkr commented on #43
Would be great to have the option to set up the pusher cluster I'd like to use. Right now any connection must be made to the us region cluster if I'm not mistaken.

[2017-02-03 18:15] nahid commented on #43
@jfkr thank you for your helpful suggestion. In next version I'll try to add this feature.

[2017-02-05 11:17] marwankhanfar commented on #43
@nahid  any update on the cluster config please , can you give us an  ETA
Thanks

[2017-02-07 05:42] nahid commented on #43
@marwankhanfar I'll trying to release this update within end of this month

Thanks

[2017-02-10 11:14] sanndhya opened #44 "Unread and Read message count and messages"
There is no function for read or unread message count. I can make my custom functions, but it increases the number of queries, which is not feasible for my system. And also show messages that are unread.
Please help.

[2017-02-26 10:12] raihancse104 commented on #43
How can i set number of  unread message if i   used  message as a  menu for  user based.
Example as Laravel Messenger  Badge number of unread message.
Please help me to solve this issue.
Thanks

[2017-02-26 16:49] jfkr commented on #43
@nahid I think a really good add on would be the option to associate files with messages. The spatie media library should make this a breeze: https://github.com/spatie/laravel-medialibrary

[2017-02-27 06:07] nahid commented on #43
@jfkr Thank you for your suggestion. I'll add this feature in next release.

[2017-02-27 06:08] nahid commented on #43
@raihancse104 now you can count unread message manually. I'm working on it and trying to add this ASAP

[2017-02-28 05:41] sgwcollins commented on #42
Looks sweet but your demo does not work

[2017-03-01 09:36] ankush981 opened #46 "File sending"
Is it possible to attach files along with messages? If not, some pointers on how that can be done, please.

[2017-03-15 10:20] akkhan20 opened #47 "change column names as per in project"
I have user_id in users table as primary key, any hints how to change default column usages in the package as getInbox() throw this error:
`SQLSTATE[42S22]: Column not found: 1054 Unknown column 'users.id' in 'where clause' (SQL: select * from `users` where `users`.`id` in (2))`

[2017-03-16 17:43] Pravinslk opened #48 "where need to set global auth id ?"
i have set id like this in **MessageControlle**r `Talk::setAuthUserId(Auth::id());` but when i send message error user_one cant be null it mens auth ID not inserting so do i want replace anywhere else ?

[2017-03-16 18:05] Pravinslk opened #49 "Your demo link is not working ?"
???????????

[2017-03-16 18:12] Pravinslk opened #50 "you link all are not working if not works plz delete"
http://portal.inilabs.net/baseapp/v1.0/admin/message/inbox

[2017-03-17 06:43] nahid commented on #49
Which link? write elaborately.

[2017-03-17 06:44] nahid commented on #50
maybe this server is down.

[2017-03-17 06:44] #50 closed

[2017-03-17 06:47] nahid commented on #48
You can set it in Controller constructor. Yes you can replace it anywhere. even you can use directly auth user like this `Talk::user(auth()->user()->id)->getInbox()`.

[2017-03-17 09:40] akkhan20 opened #51 "What is status column in Conversations table for?"
I'm interested in knowing if a conversation is replied to or not, do i have to do find it by checking the last message or is there any other implemented method already as i cant find it in documentation.

[2017-03-17 09:43] akkhan20 commented on #47
i believe sockets is the way out, i will try to implement it as in-house chat server and will share it with you if you would like to add it to your project,

[2017-03-17 14:05] nahid commented on #47
That's sound good. If you really interested to implement it, of course I'll add it with this project.

[2017-03-17 14:09] nahid commented on #51
Sorry these feature is not available now.

The `status` column is used for block/mute conversation

[2017-03-17 14:12] nahid commented on #46
Sorry there are no feature to attach file with message.

But you can develop it with your own procedure.

[2017-03-17 15:39] JosephMendez opened #52 "Pusher : No callbacks on for pusher:subscription_succeeded ?"

[2017-03-17 17:39] nahid commented on #52
Yes you can pass callback function. For details, please read it https://github.com/nahid/talk#realtime-messaging

[2017-03-18 18:57] #49 closed

[2017-03-21 15:20] akkhan20 commented on #47
i have implemented realtime chat using [laravel-echo-server](https://github.com/tlaverdure/laravel-echo-server) and [laravel echo](https://github.com/laravel/echo) with [Talk](https://github.com/nahid/talk) but im not good with github(i use svn) to get your project and merge it in, how can i share it with you so that you can integrate it in or guide me so that i can. On this weekend i can share de

[2017-03-22 05:55] nahid commented on #47
First thank you so much for your great efforts. If you want to share this updates with me, you may send me an email with this project.

[2017-03-22 07:42] akkhan20 commented on #47
@nahid sure i will update you here when i mail you

[2017-03-22 11:15] akkhan20 opened #53 "Custom user id column issue"
In my User table the user id column is 'user_id' apart from default 'id' which is causing issue with Talk::threads() method as it is showing withUser->user_id and rest of the fields same to both the parties which is user one.
the issue is fixed by changing the id field to user_id in

threads() method

to

May be you should define a variable for that in the talk.config for people having custom fiel

[2017-03-23 07:42] akkhan20 commented on #53
this applies to other methods too, like the same issue with getMessagesByUserID(), with user was returned the same user who sent the message.

[2017-03-27 18:11] rishabgarg opened #54 "Talk::setAuthUserId in Constructor doesn't work in Laravel 5.4"
I'm using Laravel 5.4 and realized that Talk::setAuthUserId(Auth::user()->id), doesn't work in constructor anymore. I have to call Talk::setAuthUserId in all the methods (chatHistory, ajaxSendMessage, ajaxDeleteMessage) explicitly.

Is there a fix for this in the latest version of Talk.

[2017-03-28 05:31] akkhan20 commented on #54
i have added this to my middleware for loggedin users.

[2017-03-28 07:15] nahid commented on #54
From laravel 5.3 controller constructor execute before run middleware, so you can not access authenticated users info, check https://laracasts.com/discuss/channels/laravel/cant-call-authuser-on-controllers-constructor.

So solution is, you can make a middleware and write this code in `handle`section

[code]

and register this middleware in `Kernel.php` `middleware` array. I think this problem will

[2017-03-28 07:17] #54 closed

[2017-04-01 04:58] Pravinslk commented on #48
what i did is for my laravel project i installed using composer. when i try to send message i got error `trying to get non object ` then i hanged my constructor in  **MessageController** `Talk::setAuthUserId(Auth::id());` like this then when i try to send message
`SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'user_one' cannot be null (SQL: insert into `conversations` (`user_one`, `

[2017-04-01 07:30] nahid commented on #48
Are you using Laravel 5.4?

[2017-04-01 16:44] Pravinslk commented on #48
Laravel 5.3....  can you try  with 5.3 and solve this issue ?? cause when i try with your  https://github.com/nahid/talk-example some Laravel sessions message not works and some errors in server so better if you solve this issue

[2017-04-01 21:07] bbcreation opened #55 "Route tests"
Hi;

In route /tests I have an error.

Call to undefined method Nahid\Talk\Talk::channel()

[2017-04-01 21:09] akkhan20 commented on #55
have you registered the provider and added alias to config/app.php?

sent from my iPhone

On 2 Apr 2017, 2:07 AM +0500, Grzegorz Bukat <notifications@github.com>, wrote:

[2017-04-01 21:09] bbcreation opened #56 "Does not send messages to Pusher"
I'm using live-chat scripts. Does not send messages to Pusher. (Records I have in the database, appear on the page) Where can I find the error? I use Laravel 5.4

[2017-04-01 21:10] bbcreation commented on #55
Yes

[2017-04-01 21:13] akkhan20 commented on #55
btw its Channel 'C'

sent from my iPhone

On 2 Apr 2017, 2:10 AM +0500, Grzegorz Bukat <notifications@github.com>, wrote:

[2017-04-01 21:24] bbcreation commented on #55
I do not know what you mean. I have a test:
`$b = new Broadcast(\Illuminate\Contracts\Config\Repository::class, \Vinkla\Pusher\PusherFactory::class);
        dd($b->tests());`
or

`dd (Talk :: channel ());`

Exactly as was the case.

[2017-04-03 05:00] Pravinslk commented on #48
@nahid ????

[2017-04-04 16:20] ivanovicimihai89 commented on #47
hello,
I'm interesed in laravel-echo-server implementation, any update on the repo?

[2017-04-04 17:01] akkhan20 commented on #47
a week or two for on premises chat server but pusher is already well set in the package

Sent from iPhone

On 4 Apr 2017, 9:20 PM +0500, ivanovicimihai89 <notifications@github.com>, wrote:

[2017-04-06 05:16] Pravinslk opened #57 "Session not working in your project"
I have used your example project code and i saw you have used
[code]
so when we use this project other **session** not working our project if we comment this **startsession** getting error **trying to get non object** so what is the best way to use session with your example project code ?? [https://github.com/nahid/talk-example](this)
 and if we install this our existing project we have to put `\I

[2017-04-13 09:42] bbcreation commented on #56
In the file Broadcast.php add option eg 'cluster' => 'eu'

[2017-04-13 09:43] #56 closed

[2017-04-17 03:17] rishabgarg commented on #47
Thanks for making this wonderful application.

I was wondering if you guys were able to update the project to use socket io instead of Pusher.

[2017-04-17 15:49] akkhan20 commented on #47
i have implemented it with socket.io but the only issue right now is that the messages between clients are passed directly and laravel just gets a copy of it to save to db

Sent from iPhone

On 17 Apr 2017, 8:17 AM +0500, Rishab Garg <notifications@github.com>, wrote:

[2017-04-22 05:03] AdebsAlert commented on #48
I am having the same issue...And I use Laravel 5.4. I am getting an error "Trying to get property of non-object". My codes `class MessageController extends Controller
{

    public function __construct()
    {
        Talk::setAuthUserId(Auth::user()->id);
    }
 `

[2017-04-22 05:39] AdebsAlert commented on #48
SOLVED!. Used
`public function __construct()
    {
        Talk::setAuthUserId(Auth::id());
    }`
In Laravel 5.4

[2017-04-22 07:31] nahid commented on #48
@AdebsAlert @Pravinslk please install v2.2.0 and read the updated doc

[2017-04-22 10:35] nahid commented on #57
try v2.2.0

[2017-04-22 10:35] #57 closed

[2017-04-26 04:49] Coldzer0 opened #59 "getMessagesByUserId , offset & $take not working"
i'm using the test example and i try to edit

i'v 122 message in the db
$conversations = Talk::getMessagesByUserId($id);
to
$conversations = Talk::getMessagesByUserId($id,0,10);

it return 122 every time

i think the main problem is here
$this->makeMessageCollection($conversations);

             $collection->messages = $conversations->messages;

this call the messages relation without any limit .

[2017-04-26 17:32] nahid commented on #59
@Coldzer0 `$this->makeMessageCollection()` get data from here https://github.com/nahid/talk/blob/master/src/Conversations/ConversationRepository.php#L152 and here I write pagination code

[2017-04-26 18:26] Coldzer0 commented on #59
try it it's not working :D or give me an example please , test it .

the main problem is
$collection->messages = $conversations->messages;

cuz it return all the messages for the conversations .

thanks

[2017-05-08 20:30] packytagliaferro opened #60 "App\Http\Controllers\Talk not found"
Any reason I would get this error? I made a MessageController like so:

[code]

In my `config\app` I added

`'Talk'      => Nahid\Talk\Facades\Talk::class,`

in the aliases so not sure why I am getting that error.

[2017-05-08 20:53] packytagliaferro commented on #60
Adding `use Nahid\Talk\Facades\Talk;` made it work in my MessageController.php

[2017-05-08 21:29] #60 closed

[2017-05-08 21:34] packytagliaferro opened #61 "Cant setAuthUserId in Laravel 5.4"
So I set up my MessageController.php like so:

[code]

If I try and `dd( Talk::setAuthUserId( Auth::user() ) )` it returns `false` so the user is not being set. But if I hardcode an id in my construct like:

[code]
The user is set and I can get `$inboxes = Talk::getInbox();`

I know `Auth::id()` will return my user id of 2 so not sure what is going on

[2017-05-08 23:26] zigstum commented on #61
Raised here also:
https://github.com/nahid/talk/issues/54

[code]
This seems to have worked for me (MessageController), found it on laracasts somewhere I think.

[2017-05-09 05:32] nahid commented on #61
see the update documentation. You have to register `Talk` middleware and call it from controller constructor

[code]

[2017-05-12 13:22] #61 closed

[2017-05-12 13:25] nahid commented on #59
@Coldzer0 thank you for finding out this problem. I issue was solved. Now you can use paginate with `offset` and `take`.

To use this update please use `dev-master`

[2017-05-12 13:25] #59 closed

[2017-05-17 13:11] #48 closed

[2017-05-30 10:05] whfamily2006 opened #65 "Except Pusher other channels"
Except Pusher other laravel channels supported or not?

[2017-05-30 10:21] boofman15 commented on #51
Can you tell me is there any way within Talk to know who updated the status column?  I am wanting to use "status" to show if a user has blocked the conversation.  That user can then "un-block" if necessary.  In order to do that, I need to know who initially blocked it.  Does the package support this?  Thank you!

[2017-05-31 03:54] nahid commented on #65
Sorry now only support Pusher in Talk. But I'm working on Socket.io. Maybe in next release it will comes with it.

[2017-05-31 03:54] #65 closed

[2017-06-01 08:08] awolad opened #66 "How to make group for conversation?"
Can you please help me. How to make group for conversation. I want to make a group add members to the group then chat between them ...etc. Please help me.

[2017-06-04 07:08] gijo-varghese opened #67 "Demo is not working"
The demo link provided in the readme isn't working!

[2017-06-04 13:54] akkhan20 commented on #67
that's down since long but you can try:
`https://github.com/nahid/talk-example`
will require a bit more work then ready made demo but its worth it to get along the package itself

[2017-06-09 19:46] packytagliaferro opened #68 "pusher error "Path not found""
I get this error from this code:

[code]

talk.php config
[code]

env

[code]

I tested with Pushers script so I know the env information is correct.

[2017-06-10 11:58] nahid commented on #68
Please share your complete error meaagse

[2017-06-12 05:08] nahid commented on #68
do you using Firefox?

[2017-06-12 16:42] packytagliaferro commented on #68
Nope, I am using Chrome.

Side note, I tried the JS from Pusher's site and it worked so not sure whats wrong.

JS from Pusher:

[code]

[2017-06-12 19:11] MyZik opened #69 "Examples: controllers and pages"
Hi everyone! Can someone help one? I don't understand how can I use simple pages (views) and controllers for:
1. Sending message (ex. from id 1 to id 2)
2. All conversations
3. Chat with user

Can you show me some simple examples? https://github.com/nahid/talk-example is really hard for me :c
Thanks in advance!

[2017-06-14 03:50] packytagliaferro opened #70 "Get Inbox Unread Count"
Is there a better way of getting the inbox count?

Right now I have this in my User model and load it in the head to a JS object so I can use it in a view component.

User Model:
[code]

head.php:

[code]

Then Finally in my Navigation I use it in a vue component:

`<badge :inboxcount='window.Logic.inbox'></badge>`

[2017-06-14 03:57] packytagliaferro commented on #68
Any news on this? Do I have to uncomment out the boilerplate Pusher stuff in the bootstrap.js file that comes with Laravel?

[2017-06-14 05:05] nahid commented on #68
Did you set Cluster properly? Is your App key valid for this cluster?

[2017-06-14 15:24] packytagliaferro commented on #68
@nahid Yep. I set the Cluster and the key as suggested in the talk.php config file:

[code]

Then in my ENV file I put the credidtials:

[code]

I got these from Pusher.com:

[code]

[2017-06-14 16:28] nahid commented on #68
please view source code from browser and take a screenshot where Talk automatically generate pusher code and send me it.

[2017-06-14 17:37] packytagliaferro commented on #68
@nahid just emailed you. The error looks like its coming from pusherjs.blade.php line 8. You never add the Cluster and get the variable from the config file. When I hardcoded it in there to test it worked.

Also note ( I can create a new issue). If you app name has a space in it (like MY App) you will get another error since a channel name cannot have spaces. You should add a function to replace a

[2017-06-14 17:45] nahid commented on #68
Please update it to v2.2.1

[2017-06-14 17:45] #68 closed

[2017-06-14 17:49] packytagliaferro commented on #68
@nahid Perfect. That update must have come out right after my initial install a month or so ago. All fixed.

[2017-06-21 21:00] boofman15 commented on #59
I just upgraded from Laravel 5.0 to 5.4.  When I go to see messages between two different users, no messages come up.  After debugging, I have found that if I comment out line 164 in ConversationRepository.php ($query->offset($offset)->take($take);) then messages are displayed fine.

Are you sure eager loading with limits is working as you expected?  Thanks for the help!

[2017-06-23 13:37] CoderRathore opened #71 "Error is coming"
Class 'Nahid\Talk\TalkServiceProvider' not found. pls help me

[2017-06-26 19:13] RudolfFussek opened #72 "Blank site"
Hey,

I have installed this package, but when I go to the messages I see all Users. When I click on the button "Send Message" then I have a blank site?
![bildschirmfoto 2017-06-26 um 21 10 43](https://user-images.githubusercontent.com/13014306/27555955-01141c68-5ab4-11e7-89c9-f5a959efcb03.png)

When I click on the button:
![bildschirmfoto 2017-06-26 um 21 11 37](https://user-images.githubuserconte

[2017-06-27 06:26] rithikstan opened #73 "Realtime messaging not working Pusher : Error : {"type":"WebSocketError","error":{"type":"PusherError","data":{"code":4005,"message":"Path not found"}}}"
Realtime messaging not working can you suggest me what to do with this

[2017-06-30 09:35] RudolfFussek commented on #72
No support here? 😱

[2017-06-30 12:41] CoderRathore opened #74 "How to make group for conversation?"
Can you please help me. How to make group for conversation. I want to make a group add members to the group then chat between them ...etc. Please help me.

[2017-07-03 05:23] nahid commented on #74
Please follow issue #68

[2017-07-03 05:24] nahid commented on #73
Please follow this issue #68

[2017-07-03 05:24] #73 closed

[2017-07-03 05:25] nahid commented on #74
We working on it. Now this feature is unavailable

[2017-07-03 05:25] #74 closed

[2017-07-03 05:26] nahid commented on #72
Do you set all credentials?

[2017-07-03 05:28] nahid commented on #71
please give me proper error message with screenshot

[2017-07-03 07:24] CoderRathore opened #75 "Message is show after the reload the page"
i have implement the chat functionality in project but when i send message to another user than message will not show but when we reload the page the message will show correct. so i want to solve this problem pls help me.

[2017-07-03 07:25] CoderRathore commented on #71
i have implement the chat functionality in project but when i send message to another user than message will not show but when we reload the page the message will show correct. so i want to slove this problem pls help me.

[2017-07-03 08:38] CoderRathore commented on #75
Pls help me sir....

[2017-07-03 12:10] RudolfFussek commented on #72
I have done everything, as it is in the installation manual. The views are from the example.

[2017-07-03 21:31] RudolfFussek commented on #72
I have Laravel 5.4

[2017-07-04 11:58] akkhan20 commented on #72
u have cloned the demo package for testing this package right?

[2017-07-04 13:17] RudolfFussek commented on #72
The cloned DEMO Package function. I have install this package in my Laravel 5.4 and the view's I took from the example package.

[2017-07-04 13:23] akkhan20 commented on #72
the package has nothing to do with front end, its complete functionality is on the backend so it will be out of the scope of this package to figure out why its demo frontend is not functioning in your project

[2017-07-05 06:28] CoderRathore opened #76 "All the user detail show in the browser console"
Hello ,

I am pusher and your chat project is working fine but when we see the browser console the all the detail of user will show how to stop it.. Pls tell to slove this problem......

[2017-07-08 17:23] rajaneeshdwivedi commented on #66
I also needed to manage group conversations so I reasoned like this - the role of the conversation class/table is to represent the relationships between two peers. But my app already holds these relationships between users (some one-to-one, others groups). So I thought that I should remove the conversation class/table and replace it with an interface that my current classes could implement. That i

[2017-08-07 15:59] dg482 opened #77 "Model User is softdelete"
Hi, sorry in my english.
Model Users make in softdeletes, the error appears when the chat user is deleted, is solved by calling the method withTrashed() in relations to users.

<img src="http://joxi.ru/J2bJkpwSXeRQQ2.jpg">

[2017-08-24 09:10] gaurav1992 commented on #75
@nahid  Could you please respond on the same. It is really necessary if we are using this library.

[2017-08-30 06:26] baig772 commented on #50
The link is not working. Please provide a new demo link

[2017-09-10 00:13] madaviela opened #78 "trying to get all inbox or threads not working"
im trying to get all the inbox for a user but its not working, im getting this ---->

(1/1) ErrorExceptionTrying to get property of non-object
--
`in ConversationRepository.php (line 107)
at HandleExceptions->handleError(8, 'Trying to get property of non-object', '/Users/username/Sites/Web/myownwebsite/vendor/nahid/talk/src/Conversations/ConversationRepository.php', 107, array('user' => 4, 'order'

[2017-09-11 03:04] FrenchMajesty commented on #75
Same deal here. It seems messages are not being sent to Pusher.

[2017-09-11 03:42] FrenchMajesty commented on #52
@nahid It does not work.

[2017-09-11 10:34] lloricode opened #79 "Laravel 5.5"
can we use this for laravel 5.5?

[2017-09-15 16:51] MohammadShawon commented on #43
I have used for my Intern project to implement live chat between doctor and patient. I got every options what I need. I think it's the best pusher wrapper.

[2017-09-28 17:50] muyaedward opened #82 "There is no support for Laravel 5.5"
There is no support for Laravel 5.5

[2017-09-29 01:41] Kristories commented on #82
Duplicate #79 and PR #80

[2017-10-01 06:22] #82 closed

[2017-10-01 06:22] #79 closed

[2017-10-02 23:13] richardksizemore commented on #78
this what i did to get it to load the Auth user globally via _construct

`    protected $authUser;

    public function __construct()
    {
                $this->middleware(function ($request, $next) {
            $this->authUser = Auth::user()->id;
            Talk::setAuthUserId($this->authUser);

            View::composer('partials.peoplelist', function($view) {
            $threads = Talk::t

[2017-10-09 01:14] cristianuibar commented on #75
This is happening because of: `Call to undefined method Vinkla\\Pusher\\Facades\\Pusher::trigger()`

[2017-10-09 01:16] cristianuibar commented on #77
PR this fix pls.

[2017-10-09 01:17] cristianuibar commented on #71
My guess is that the error message is below because I have it too on L5.5, PHP 7.1:
[code]

[2017-10-09 02:10] cristianuibar commented on #71
Ok ,found the problem. In Broadcast.php you should use:
[code]
instead of
[code]

Thats it. And also make sure you use the right Cluster in your config.

[2017-10-09 02:11] cristianuibar commented on #75
Ok, found the problem. In Broadcast.php you should use:
[code]
instead of
[code]

Thats it. And also make sure you use the right Cluster in your config.

[2017-10-09 08:36] nahid commented on #75
You have to update Talk with version `v2.2.1` and also update Talk config file. The config file is contains cluster info so now you can setup cluster by this config.

[2017-10-09 09:46] cristianuibar commented on #75
Yes, I did that. Yet until I added Pusher/Pusher in Broadcast.php I was not able to get the Pusher to work. Now it's working fine and I had to forcefully add that file to my git tracking and whitelist it in gitignore. Not elegant but did the trick.

[2017-10-09 12:42] nahid commented on #75
Please make a PR for this update

[2017-10-15 12:06] darrensapalo opened #85 "Demo site not available"
The demo site found [here](http://portal.inilabs.net/baseapp/v1.0/admin/message/inbox) does not load as of right now.

[code]

[2017-10-15 14:16] akkhan20 commented on #85
try example project

[2017-10-20 06:09] rvsky opened #86 "Talk is not live."
Hi! Yesterday I installed talk example, and added pusher keys. The problem is - my laravel talk is not live. Can you tell me why? I am using this on localhost.

[2017-10-20 08:32] rvsky opened #87 "Error in broadcast.php"
Hi! I changed false to true in app/broadcasting.php and I get error
ErrorException in Broadcast.php line 62:
array_merge(): Argument #1 is not an array

What I have to do now?

[2017-10-20 18:54] rvsky opened #88 "Error in broadcast.php"
Hi!
I am trying to install talk-example. I did everything what is on git but i have this... What can I do?

In env I have:
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
![screenshot from 2017-10-20 20-51-07](https://user-images.githubusercontent.com/16989043/31837369-cfef9d1c-b5d8-11e7-92bb-bf8713ede09e.png)

[2017-10-25 08:33] nahid commented on #88
please update your config file with latest Talk version (v2.2.1)

[2017-10-25 08:33] nahid commented on #87
See issue #88

[2017-10-25 20:35] kernelpro opened #90 "Composer error"
![image](https://user-images.githubusercontent.com/14651257/32021756-feb3945c-b9dc-11e7-9072-b4d98da6017e.png)
Hi man, fix this error pls. my version illuminate/contracts is 5.5.19

Ty.

[2017-10-26 00:17] x1mdev commented on #90
Same problem here

[2017-10-26 09:38] kernelpro commented on #90
@x1mdev where?

[2017-10-26 10:10] x1mdev commented on #90
I fixed it by using composer require nahid/talk dev-master

[2017-10-26 10:11] x1mdev commented on #90
The composer package without dev-master does not work with laravel 5.5

[2017-10-26 10:57] kernelpro commented on #90
@x1mdev its work, ty bro

[2017-10-26 10:57] #90 closed

[2017-10-27 01:58] tobidsn commented on #75
Same deal here,
I am using Laravel 5.3 , nahid/talk = 2.2.1
and Server Centos 7

[2017-10-27 03:19] tobidsn commented on #75
SOLVED for me,

// old controller method
$conversations = Talk::getConversationsById($conversationId);

Add Take parameter in getConversationsById
// new controller method
$conversations = Talk::getConversationsByUserId($id, $offset = 0, $take = 1000);

$messages = $conversations->messages;
$withUser = $conversations->withUser;
return view('messages.conversations', compact('messages', 'withUser'))

[2017-10-27 12:08] nahid commented on #75
@tobidsn yes take is used for pagination.

[2017-10-31 04:00] tviles opened #91 "Error viewing/showing messages from soft-deleted users"
The User relationship in the Messages model needs to have ->withTrashed() to allow messages to be viewed even if the user has been soft-deleted. Otherwise it throws an error.

**Before:**
public function user()
    {
        return $this->belongsTo(config('talk.user.model', 'App\User'));
    }

**After:**
public function user()
    {
        return $this->belongsTo(config('talk.user.model', 'App\U

[2017-11-03 11:28] jerauf opened #93 "Will there be a version for 5.5?"
Are you planning to update for v5.5?

[2017-11-05 11:13] samirqh opened #94 "http://localhost/nihad/public/ajax/message/send 500 (Internal Server Error)"
Hi Sir,

thanks for the great code, I already install the example one and its working fine.
when I came to integrated with my project, I followed your steps, Usage.
then I start to use the controller and views folder in the example project.

and I have error when try to send message, the message not send, and error shows in console
http://localhost/nihad/public/ajax/message/send 500 (Internal Serv

[2017-11-06 05:22] Lexx-YungCarter commented on #94
![nahid](https://user-images.githubusercontent.com/19994360/32426444-7b86f914-c2cb-11e7-961b-3e3315daaccb.JPG)

Also getting this error and this shows up in the console tools.

[2017-11-06 11:19] Lexx-YungCarter commented on #94
@samirqh Try checking your `env` file for the `QUEUE_DRIVER` option. If it is set to `redis`, try chanign to `QUEUE_DRIVER=sync` (or optionally install a redis server in your workstation). Ypu can go ahead and use other queue drivers as outlined in the[ Laravel Queue docs](https://laravel.com/docs/5.5/queues). Then `serve` your app again.

[2017-11-06 12:52] nahid commented on #93
Yes, you may try `dev-master`, this branch is already compatible with Laravel 5.5

[2017-11-06 12:52] #93 closed

[2017-11-12 08:44] JuanDBB opened #96 "Error installing Talk"
I get the following errors:

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v5.5.20
    - Conclusion: don't install laravel/framework v5.5.20
    - nahid/talk v2.2.0 requires illuminate/support 5.0.* || 5.1.* || 5.2.* || 5.3.* || 5.4.* -> satisfiable by illuminate/support[v5.0.0, v5.0.22, v5.0.25, v5.0.26, v5.0.28,

[2017-11-17 11:03] mxl commented on #96
@nahid Could you release version compatible with Laravel 5.5?

[2017-11-21 04:18] nahid commented on #96
please try `dev-master`

[2017-11-21 12:00] losheredos opened #97 "How to delete?"
How i can uninstall this talk?

[2017-11-21 12:55] aarontanzk opened #98 "Non-static method xxx\xxx\Talk::setAuthUserId() should not be called statically"
Hi I have this error. Please help

[2017-11-21 21:15] bathan opened #99 "Allowing table names to be defined by config"
I have already a `messages` table on my app and its conflicting with this package. It would be awesome if the `messages` table were to be defined via config instead of being hardcoded.

[2017-11-21 21:18] bathan commented on #43
I'm trying to implement it in my current app but I have a conflict with table names. I already have a `messages` table. it would be awesome if the table names for this module could be defined via environment config or talk.php.

[2017-11-22 06:36] nahid commented on #43
@bathan thank you for your valuable suggestion. I'll trying to implement it with next version.

[2017-11-22 10:19] YassiNebel commented on #47
@akkhan20 can you tell me what files you have edited when you implemented socketIO with Talk ?

[2017-11-22 23:06] x1mdev opened #100 "undefined relationship [sender] on model [Nahid\Talk\Messages\Message]."
Hi, i'm trying to implement Talk into my project but i'm getting this error:

[code]
This happens when I try to send a message to a user.

I could not find the issue in my project, so I installed a fresh nahid/talk-example and configured it as told.

The above error is copied from the error page I got in the talk-example application again trying to send a message->does not work-> refresh page-> ge

[2017-11-23 06:10] nahid commented on #98
Please share your code

[2017-11-23 06:12] nahid commented on #97
run `composer remove nahid/talke` from your terminal

[2017-11-23 06:12] #97 closed

[2017-11-24 04:25] dungnh opened #101 "Cannot install latest version with Laravel 5.5"
On dev-master, the composer.json updated to support Laravel 5.5, but in latest released, it doesn't.
Could you make a new release, please?

[2017-11-24 13:08] c2gahlot commented on #100
Same issue.
Please Help!

[2017-12-06 12:43] ABwabsolute commented on #98
Hi, try using

"use Nahid\Talk\Facades\Talk;"
instead of
"use Nahid\Talk\Talk;"

[2017-12-06 12:46] ABwabsolute commented on #100
Same here when i try to get all the messages by User id and pass them to view.

   $myMessages = Talk::getMessagesByUserId(Auth::user()->id);
        return view('messaging.list', compact('myMessages', 'myMessages'));

[2017-12-11 03:11] ivanthecrazy commented on #101
+1

[2017-12-13 09:15] ShriHub commented on #100
Same issue.  Kindly resolve.

[2017-12-15 06:36] harshadpathak commented on #101
+1

[2017-12-15 11:11] aarontanzk opened #102 "ERROR: Trying to get property of non-object"
Hi I'm using talk-example and integrated parts of it into a fresh laravel 5.3 installation.

When I go to /message/1 for chatHistory between two users, I get the above ERROR. There are no conversations in the database.

MessageController.php
`<?php

namespace App\Http\Controllers;

use App\User;
use Illuminate\Http\Request;
use Nahid\Talk\Facades\Talk;
use Auth;
use View;

class MessageController

[2017-12-15 20:39] aarontanzk opened #103 "Can socket.io be used instead of Pusher?"

[2017-12-17 12:30] nemiq commented on #91
Hi,
This change is now in dev-version, which breaks functionality for projects which do not use soft delete on user model. Add work around for those cases? Config?

[2017-12-17 15:09] nemiq commented on #100
If you dont want to use softdelete on your user model, then just add a dummy withTrash function in the user model:
public function scopeWithtrashed($query)
    {
        return $query;
    }

[2017-12-23 16:39] TheGodFather05 commented on #98
got the same issue trying to test talk-example-master

[2017-12-24 08:58] nahid commented on #98
Please set facade namespace in `app.php` `facades` section and try to use `use Nahid\Talk\Facades\Talk`

[2017-12-27 08:12] aarontanzk opened #104 "MethodNotAllowedHttpException in RouteCollection.php line 218:"
Anyone got this issue?

It was running fine but now it just popped up.

[2018-01-03 06:43] ABwabsolute commented on #101
+1

[2018-01-03 14:43] llxx-lord-xxll opened #105 "Problem in installing on laravel 5.5+"
I was trying to install your package in my laravel 5.5 project but i found following error

[2018-01-06 17:11] sourabhmodi60 commented on #105
@llxx-lord-xxll Try dev master it is compatible with 5.5

composer require nahid/talk dev-master

[2018-01-08 18:01] mohfrea commented on #70
Although it's too late to post something on this issue, however maybe for the new users it can help.
This is a small hack to get the number of "**Unread Messages**" of each conversation for each user.
add the following function to "**Message.php**" model:

`    public function getNumberOfUnreadMessagesAttribute()
    {
      return DB::table('messages')->select('id')->where('user_id',Auth::user()-

[2018-01-14 05:28] #91 closed

[2018-01-21 13:45] dharmajmrd commented on #103
Hi, do we have any update on this? is socket.io is already implmented?

[2018-01-21 18:38] akkhan20 commented on #103
no you have to write that by urself its just the server side no client, simple ajax calls that doesn’t give the feel of live chat

Sent from iPhone

On 21 Jan 2018, 6:45 PM +0500, dharmajmrd <notifications@github.com>, wrote:

[2018-01-22 20:52] vpakg commented on #105
Any idea of when support for 5.5 will be out of dev-master?

[2018-01-24 17:49] pmochine opened #106 "No Issue but one Question! What is status?"
I love what you did!

Do you remember what you meant with status in "conversation"?

[2018-01-28 18:30] spmsupun commented on #103
any updates on this ?

[2018-02-05 03:53] tobidsn opened #107 "PusherError"
In My Chrome console show error
`Pusher : Error : {"type":"WebSocketError","error":{"type":"PusherError","data":{"code":4004,"message":"Account over quota"}}}`

how if you create a free realtime besides using the pusher?

[2018-02-14 07:52] songokjesse opened #108 "Talk Support for laravel 5.5.*"
can talk be installed on laravel 5.5 and above?
When i tried  composer require on laravel v5.5.34 this is what i get
Problem 1
    - Conclusion: remove laravel/framework v5.5.34
    - Conclusion: don't install laravel/framework v5.5.34
    - nahid/talk v2.2.0 requires illuminate/support 5.0.* || 5.1.* || 5.2.* || 5.3.* || 5.4.* ->
    - nahid/talk v2.2.1 requires illuminate/support 5.0.* || 5.1.*

[2018-02-21 14:46] wmandai commented on #108
For me i currently use the master. Add this line to your composer.json
`"nahid/talk": "dev-master",`

[2018-02-21 14:53] wmandai commented on #107
I think your pusher account temporarily reached its allowed quota.. 😄

[2018-02-23 07:10] tobidsn commented on #107
Right, it looks like I have to buy a pro or not using a pusher

[2018-02-24 15:26] visualight opened #110 "php artisan vendor:publish : Nothing to publish"
Hello,

I'm using Laravel : 5.2.45.
I installed Talk with command : composer require nahid/talk and I set the configuration in App => provides and aliases.

I get an error when I attempt to publish the package resources.

[code]

What is wrong ?

[2018-02-24 15:59] Bobyuan1015 opened #111 "the new message cannot be showed, unless refresh the page by hand,F5"

[2018-02-24 17:08] visualight commented on #111
Have you configured talk.php in config directory ?
You need api keys from pusher : https://pusher.com

[2018-02-24 17:21] visualight commented on #110
Ok, sorry, I found the solution 👍

`$ php artisan config:clear`

then

`$ php artisan vendor:publish --provider="Nahid\Talk\TalkServiceProvider"`

[2018-02-26 10:33] SerikK opened #112 "How to detect if new message has come?"
Hi.
Good extension. But I have some problems.
I need to show to users that somebody recently received new message in my application. How I can do that?

[2018-02-27 14:31] nahid commented on #112
Query with updated_at in conversations table

[2018-02-28 01:32] shenjiayu opened #114 "Unexpected behaviour in laravel 5.3"
First of all, thanks for creating such a nice package.

I have come across an unexpected behaviour in Laravel 5.3.
FYI: I am using latest release of this package

Only can sender load messages for a conversation from the db, the receiver cannot load messages from the db so I dig into the source code.
Found that the `getMessagesById` function in `ConversationRepository.php` file has the following q

[2018-02-28 05:41] SerikK commented on #112
Thanks for reply.
But how I can do in real time?

[2018-02-28 10:47] nahid commented on #112
Why you need this?

[2018-02-28 11:00] SerikK commented on #112
In general, our tech support answers to user questions. Users write to the chat. If user's waiting is too long, obviously they would leave our website. Or users chat with each other in order to communicate. They need fast messaging to do actions, deals and so on. We need so much that.

[2018-02-28 13:45] SerikK commented on #112
Decided to implement like this https://pusher.com/tutorials/realtime-notifications

[2018-02-28 17:19] nahid commented on #112
Talk is also Pusher ready with realtime chat. I think our doc will help you.

[2018-02-28 18:58] SerikK commented on #112
I decided to integrate their notification solution into talk

[2018-03-01 02:57] shenjiayu opened #115 "Getting latest messages from db"
Currently, all `getConversations(XX)`, `getMessages(xx)` functions are retrieving messages from the earliest to the latest with the help of $offset and $take.
But In most cases, users need to see latest messages first and then scroll up to see old messages.
Would it be better to do things like `$query->latest()->offset($offset)->take($take)`?

[2018-03-06 14:14] #112 closed

[2018-03-07 04:38] a1iraxa commented on #101
+1

[2018-03-30 09:39] visualight opened #117 "Sending pictures with Talk"
Hello,

I would like to know if there is a method to send an image via Chat Talk?
A bit like Facebook allows?
What should I do ... do you have a demo to suggest?

Thank you

[2018-04-04 23:03] dionejpmc opened #118 "Not working"
Not working  in laravel 5.5
![capturar](https://user-images.githubusercontent.com/5278987/38339168-3c05deca-3843-11e8-9688-449d5eca6ed9.PNG)
![capturars](https://user-images.githubusercontent.com/5278987/38339169-3c328a56-3843-11e8-98cb-079efa747ee0.PNG)

[2018-04-07 12:14] syflex commented on #118
i got the same error as @dionejpmc

[2018-04-09 18:15] carbonvader commented on #66
Hey @nahid,

First of all, thanks for your great job. I have been waiting for group feature for long time. As you have replied to that issue #74, it was being developed. Did you have time to complete it?

[2018-04-15 09:28] abdullahhafizh commented on #101
+1

[2018-04-21 04:29] Johnnydoncom commented on #43
The package isn't installing on Laravel 5.6. Any fix to that?

[2018-04-25 18:10] nahid commented on #115
fixed

[2018-04-25 18:10] #115 closed

[2018-04-25 18:13] nahid commented on #110
Which version of Laravel are you using?

[2018-04-26 04:04] nahid commented on #43
@johnnydoncom please use dev-master. this branch are also support Laravel 5.7

[2018-04-30 18:09] AEK-BKF opened #119 "Chat with multi users"
Hi,
First, thanks for this nice package,
Is it supported on Laravel 5.6 ?
and, can a user chat with multi users ? or just one to one ?

[2018-05-02 11:58] puneetshar opened #120 "Not getting the Messages"
I am not getting the messages. message array is blank

[2018-05-07 13:58] noudard opened #121 "Not working in laravel 5.6.17 ?"
Hello,
We can't install on laravel 5.6.17. Any idea ?

Best reagrds

our requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v5.6.17
    - Conclusion: don't install laravel/framework v5.6.17
    - nahid/talk v2.2.0 requires illuminate/contracts 5.0.* || 5.1.* || 5.2.* || 5.3.* || 5.4.* -> satisfiable by illuminate/contracts[

[2018-05-24 04:00] jake5253 opened #122 "example of makeSeen when message open"
How do I makeSeen messages when receiver opens?
readMessage has error
`Trying to get property 'user_one' of non-object`

[2018-05-24 16:12] jake5253 commented on #104
You're calling a method that isn't supported. Check your routes.  If you copy/paste your routes file here we can help more.

[2018-05-24 16:13] jake5253 commented on #101
Add "nahid/talk": "dev-master" under 'require' in composer.json and then run composer update. Works fine.

[2018-05-29 05:16] usmansaif commented on #43
I can implement laravel talk with my application?
Because, my application login with only mobile number and password.
and i build the ajax polling chat for chatting in between users.

I want to know that, i integrate easily laravel talk with my application?

[2018-05-29 16:02] nahid commented on #43
Yes you can. Its does't depends on how you implement your auth system.

[2018-06-01 21:06] visualight opened #123 "Bug with Talk::getMessagesByUserId()"
nahid/talk v2.2.1  - Laravel 5.3

Hi, I'm having a bug with Talk :: getMessagesByUserId (). I have more than 3000 records in my database and I have configured Talk :: getMessagesByUserId ($ id, 0, 2000) which is supposed to retrieve 2000 messages from a user. I have 3000 messages in total in the messages table (from different users), the use of Talk :: getMessagesByUserId as I configured it preven

[2018-06-01 23:47] gareth-ib opened #124 "public channels"
can this be used for public channels for users to talk in? Any examples of that?

Thanks!

[2018-06-10 00:26] Nazar0102 opened #125 "Class talk does not exist!"
Hi guys! After `composer update` I got this "Class talk does not exist"
I am trying `composer dump-autoload` but it still not working(

In `app/Http/Kernel.php` I have

`'talk'       => \Nahid\Talk\Middleware\TalkMiddleware::class,`

In `config/app.php` in `providers` section

`Nahid\Talk\TalkServiceProvider::class,`

and in `aliases` array

`'Talk'      => Nahid\Talk\Facades\Talk::class,`

What I

[2018-06-10 18:53] Nazar0102 commented on #125
oh, I see that problem is in the package version. It does't work with laravel"5.5.*"(((

[2018-06-12 11:41] malaymehta opened #126 "I want to implement this package but without using Pusher, is there a way out"
After reviewing the situation, I want to develop this without using Pusher. Is there any configuration that I can do to use this laravel echo server?

Any guide or sample code will be helpful.

Thanks

[2018-06-12 13:42] Nazar0102 commented on #125
I'm using `"nahid/talk": "dev-master"`. And everything worked good until I updated composser. Even if I checkout or revert a lot of commits back I still have the same `"Class talk does not exist"`. If I use `Nahid\Talk\Talk` not `Nahid\Talk\Facades\Talk` all methods should not be called statically.

[2018-06-15 10:13] Shohan494 commented on #125
Same case, trying to downgrade laravel to 5.3 to have a further check.

[2018-06-18 00:09] iamdatman commented on #125
Am having the same issue

ReflectionException in compiled.php line 1479:
Class talk does not exist

[2018-06-18 14:07] Fidelite6 commented on #125
**Same issue.**

[2018-06-19 03:56] andresgcarmona commented on #125
I did a hotfix setting `return \Nahid\Talk\Talk::class;` instead of `return 'talk'`

<?php

namespace Nahid\Talk\Facades;

use Illuminate\Support\Facades\Facade;

class Talk extends Facade
{
    /**
     * Get the registered name of the component.
     *
     * @return string
     */
    protected static function getFacadeAccessor()
    {
        return \Nahid\Talk\Talk::class;
    }
}

[2018-06-19 03:57] andresgcarmona commented on #125
I did a hotfix setting return \Nahid\Talk\Talk::class; instead of return 'talk'

`<?php

namespace Nahid\Talk\Facades;

use Illuminate\Support\Facades\Facade;

class Talk extends Facade
{
    /**
     * Get the registered name of the component.
     *
     * @return string
     */
    protected static function getFacadeAccessor()
    {
        return \Nahid\Talk\Talk::class;
    }
}`

[2018-06-19 03:58] andresgcarmona commented on #125
I did a hotfix setting `return \Nahid\Talk\Talk::class; instead of `return 'talk'`

[code]

[2018-06-19 03:59] andresgcarmona commented on #125
I did a hotfix setting return `\Nahid\Talk\Talk::class;` instead of `return 'talk'`

[code]

[2018-06-30 21:44] Ravenna commented on #125
@andresgcarmona  that worked for me. Excited for a release that will solve the issue without a hotfix.

[2018-06-30 22:52] Ravenna commented on #119
I am also looking for this multi user chat.

[2018-07-02 18:21] nahid commented on #126
Now Talk only ready for Pusher. If you want to using echo server, you have to develop your own implementation.

[2018-07-02 18:23] nahid commented on #125
This problem was solved. Please use `v2.2.2` or `dev-master`

[2018-07-02 18:23] #125 closed

[2018-07-02 18:32] nahid commented on #124
http://github.com/nahid/talk-example

[2018-07-02 18:36] nahid commented on #123
Do you want to get All messages from all users?

[2018-07-02 18:37] #121 closed

[2018-07-02 18:39] nahid commented on #120
Please see the example
https://github.com/nahid/talk-example

[2018-07-02 18:40] nahid commented on #119
Now its support one-to-one chat :(

[2018-07-02 18:40] #119 closed

[2018-07-02 18:43] nahid commented on #114
please see the Talk Example

https://github.com/nahid/talk-example

[2018-07-02 18:44] #111 closed

[2018-07-02 18:46] #101 closed

[2018-07-02 18:48] nahid commented on #108
please use latest version

[2018-07-02 18:48] #108 closed

[2018-07-02 18:48] nahid commented on #101
#108

[2018-07-02 18:49] nahid commented on #101
#108

[2018-07-04 13:14] ayushmall0710 commented on #70
i cant seem to call it the way mentioned

[2018-07-04 15:34] ayushmall0710 commented on #70
Thank you very much @mohfrea! You're a true lifesaver!!

[2018-07-15 10:38] #107 closed

[2018-07-17 13:51] SimonJ opened #128 "When i tried to set middleware i got error"
i tried settings middleware like this
[code]

But keep getting `Function name must be a string`

What am i doing wrong?

[2018-07-26 09:11] SimonJ commented on #128
forgot to register the middleware

[2018-07-26 09:11] #128 closed

[2018-07-28 16:33] malaymehta commented on #126
Ok, thanks for the response.

[2018-07-28 16:33] #126 closed

[2018-08-03 21:03] zhengfen commented on #42
I just configured pusher with talk in my site of bellydance:
[https://dance.zhengfen.ch](url)

Tomorrow I will configure my other sites  :)

as I use vueJs to fetch messages,  I added one line in Message model class
[code]
Thanks  a lot for your work.

[2018-08-04 16:37] nahid commented on #42
@zhengfen please make a PR with this code

[2018-08-14 01:38] eboxnadeem opened #130 "user one id not match with auth id"
Issue in talk/src/Conversations/ConversationRepository.php

Line 107
`$conversationWith = ($thread->userone->id == $user) ? $thread->usertwo : $thread->userone;`

[2018-08-14 01:38] eboxnadeem commented on #130
`$thread->userone->id` need to be `$thread->user_one`

[2018-08-27 21:27] vaibhavAnchal16 opened #132 "Trying to get property 'name' of non-object on blade view for threads() rest is working"
Hi I am tryng to list messages on my view but it does not fetches user table information with method withUser. It says tryng to get property of non-object . I am not aware of their model relationships.

My Controller code

      $inboxes = Talk::user(auth()->user()->id)->threads();
        return view('home',compact('inboxes'));

My View

<ul>
    @foreach($inboxes as $inbox)
        <li>

[2018-09-04 22:43] fabiojundev commented on #59
I have the same problem as @boofman15, using Laravel 5.6.

[2018-10-15 16:32] vaishnavmhetre commented on #103
Implementation socket io needed.

[2018-11-01 10:04] nahid commented on #130
`userone` is a relation with user and `user_one` is treads column name

[2018-11-01 10:05] #124 closed

[2018-11-01 10:11] #120 closed

[2018-11-01 10:13] #110 closed

[2018-11-01 10:15] #105 closed

[2018-11-01 11:08] cfpinto commented on #117
Hi @visualight oembed support was added today to dev-master.
Follow these instructions for upload support:

- require dev-master with composer
- create your own upload routines to store the file
- attach the file url to the message
- create an [oembed](https://oembed.com/) endpoint to return information and the html oembed block. [Youtube oembed](https://www.youtube.com/oembed?url=https://www.yout

[2018-11-01 11:10] cfpinto commented on #34
due to inactivity

[2018-11-01 11:10] #34 closed

[2018-11-03 07:19] chiwex opened #138 "How can i use this between multple authentication guard"
any solution on how to use this package for multiple guard

[2018-12-03 09:09] blueapple25 commented on #6
Call to undefined method Nahid\EnvatoPHP\Facades\Envato::getAuthUrl()

[2018-12-03 09:10] blueapple25 commented on #6
Its my code in my controller

public function EnvatoData()
    {
        $config = [
            "client_id"     => '',

            'client_secret' => '',

            "redirect_uri"  =>  '',

            'use_personal_token' => FALSE,

            'personal_token' => '',

            'app_name'      => '',
        ];

        $envato = new Envato($config);
        $envato->getAuthUrl();

[2018-12-03 09:11] blueapple25 commented on #6
Note: - app credential i will not include in issue but set in my local file

[2019-01-11 01:53] Gustavinho commented on #123
I have a problem like yours, i've to do this Talk::getConversationsByUserId($userId, 0, 1000000); to get all the message between the user logged and $userId, i think because the $limit = 20 is taking all the messages in database

[2019-02-07 16:32] DimaBDV opened #140 "How can i use this on redis server."
Hello! :)
Help me please. How can i use this on redis server. Now your talk system use pusher.js.
Do I need to change "src / helpers / talk.php" for this to work with redis. And what else is required to change / add?

[2019-02-09 02:34] akkhan20 commented on #140
If you have a running redis server then all you need to change is .env file to point the correct configurations, thats all i believe you need to do.

[2019-02-09 02:41] akkhan20 opened #141 "Laravel Websockets Integration"
Hello,
I tried integrating the package to use [Laravel-Websockets](https://github.com/beyondcode/laravel-websockets) which is drop in replacement for pusher but failed to get it running, I changed to pusher host on laravel side but in browser console i see it connecting to '<cluster>.pusher.com' instead of Websocket server that i have on local host.
Can you please guide me if it can be integrated

[2019-02-09 22:03] DimaBDV commented on #140
@akkhan20
My question is how to use the Laravel Echo Server + Redis bundle. If you study the code, you can see that it is all written under Pusher. Or I don’t understand something, or i do takes more than just a change .env => BROADKAST_DRAIVER

[2019-02-09 22:10] DimaBDV commented on #141
@akkhan20 #140
If you want to use the web socket, you will have to abandon Pusher and use the "Laravel Echo Server + Socket.IO + Redis" bundle. (Here is the [link to the documentation](https://laravel.com/docs/5.7/broadcasting) )

[2019-02-09 22:36] akkhan20 commented on #141
yup thanks ill do it that way but i thought Laravel-websockets had some implementation for pusher client too anyway thanks for guiding

Sent from iPhone
On 10 Feb 2019, 3:10 AM +0500, DimaBDV <notifications@github.com>, wrote:

[2019-02-10 23:29] akkhan20 commented on #140
No so basically with echo u need to do things manually, this package will only provide the facility to store the data in db and fetch.
you need to send data to server through ajax and save it using this package and then broadcast through redis and echo will capture and broadcast it on channel

[2019-03-07 16:28] MoeCasts opened #142 "Looking forward to laravel 5.8 support"
Looking forward to laravel 5.8 support

[2019-03-10 00:49] baihaqyaviq opened #143 "How to add custom field in message table"
how to add custom field in message table?

[2019-03-14 13:33] tylik1 commented on #140
Also interested in this. If someone could please give a short guide, would be great.

[2019-03-19 13:16] shoeb239 commented on #43
When I go to your live demo site, it shows a security error - 'Deceptive site ahead'. http://portal.inilabs.net/baseapp/v1.0/admin/message/inbox
Would you check the issue?

Thanks!

[2019-04-16 19:48] juanvillegas commented on #42
@Shipu using open source code to sell your own items in code canyon! genius!

[2019-04-23 11:27] #141 closed

[2019-05-10 06:50] abdul191993 commented on #138
Did you get any help for this.??
if yes then guide me please because i am new to laravel and have same issue that i did not get any help to use pusher for multianuth..:-(

[2019-05-17 18:32] vaishnavmhetre opened #144 "Any possibility to have easy access using graphql?"
I'm exploring graphql approach for data access from Lumen and want to use nahid/talk in my project. Need some guidance to use this package with your existing API methods but using graphql, or any alternatives to get it done without API methods, but without rewriting existing methods given by you?

[2019-05-24 20:33] HAFTOMFSEHA commented on #86
I am having the same issue, any help please ?

[2019-06-17 06:19] Haritsinh commented on #55
@akkhan20 , i am using talk in laravel 5.5 and got the same error as stated by @bbcreation, and i have registered the provider and added alias to config/app.php as you have said, but it still shows the same error what to do?

[2019-08-04 09:46] badrul1329 commented on #142
i'm also tried to use this package in laravel ver5.8.30 but found several error and not working, hence, looking forward for the update.
@nahid , are you available to make it updated?

[2019-08-05 06:37] MoeCasts commented on #142
@badrul1329 I found a new package that can do the similar things. [https://github.com/musonza/chat](musonza/chat)

[2019-08-07 12:35] nahid commented on #142
Updated: use version 2.30

[2019-08-07 12:35] #142 closed

[2019-08-10 10:26] dmc4719 opened #147 "how to make the talk app work for multiple models, like a customer chatting with a service provider,etc?"

[2019-09-01 09:31] vaishnavmhetre commented on #147
I have a use-case where I need to create a chat for each lesson in a course and for the course altogether too! How do I accomplish it? Like any efficient way I could do this?

[2019-09-05 04:22] nahid commented on #147
You may consider each lesson as an user, otherwise it won't be possible

[2019-09-05 04:22] #147 closed

[2019-09-13 16:39] TsarlinDomingo commented on #78
@ghost getting the same error. Did you manage to fix? how?

[2019-09-17 11:50] syedsaadahmed1994 commented on #43
How to get the latest 20 messages through your package? Also, is there a way to get all messages instead of passing take = 20?? If so, please assist. Thanks.

[2019-09-19 12:27] haisham commented on #123
same here, have to do Talk::getConversationsById($conversationId, 0, 100000000); to get the conversation otherwise query limit will prevent retrieval

[2019-09-24 00:10] impactcolor commented on #121
No longer working on Laravel 5.6

[2019-09-27 08:49] eliesha opened #148 "Set message as seen"
In the documentation, it is given that we can use makeSeen($messageId) if we want to make message as seen but where should I write that code?

[2019-10-28 22:05] sennz opened #150 "Laravel 6 Support"
Hi

Can you please update to support Laravel 6?

Thanks

[2019-11-06 13:45] KholoudElkholy commented on #86
me too, any help

[2019-11-18 14:37] bendaoua commented on #43
Hey Nahid
Is the table name configurable now ?
Already got table with the same name and we had to change the Vendor folder which is diorty

[2019-11-19 11:27] nahid commented on #43
@bendaoua  which table do you want to configure?

[2019-11-19 13:25] bendaoua commented on #43
Messages

On Tue, 19 Nov 2019, 15:27 Nahid Bin Azhar, <notifications@github.com>
wrote:

[2019-12-15 19:36] gitmschepp commented on #123
Hi there. Perhaps You've got the same problem as I had.
in vendor/nahid/talk/src/Conversations/ConversationRepository.php :: getMessagesById($conversationId, $userId, $offset, $take)   the query doesnt seem to work properly.
I replaced the complex quere by just Conversation::find($conversationId);  and that did the trick.

Let me know if that is of use or problematic. Good luck!

[2019-12-24 23:00] MarwanMohamed opened #151 "order getConversationsByUserId"
please add orde to getConversationsByUserId
cus i need to make order desc then take 10 messagess
to get last 10 messages
not first 10

[2020-03-26 21:01] Gildars opened #152 "Why is withUser null?"
[code]
![изображение](https://user-images.githubusercontent.com/16268697/77695833-10cf3480-6fb5-11ea-895b-dfb3bf55bd13.png)

[2020-03-28 11:59] Gildars commented on #152
This is my mistake) I sent messages to non-existing users.

[2020-03-28 12:00] #152 closed

[2020-04-18 15:29] baahgi commented on #42
J

[2020-04-19 01:42] visualight commented on #117
Hi @cfpinto !
Hi @nahid !

I have a question because I can't quite understand the working principle of oembed. If I return a response from my server in json (oembed structure), will laravel talk integrate the file with a preview or will it simply display a clickable link? The idea is that people can download the file and save it locally on their computer. Can you tell me more about how oembed talk

[2020-04-29 04:32] rvkvino commented on #43
Hello I have tried you example, and I have configured the my pusher credentials and all. But not triggering real time. When I refresh then only chat comes to display. Eveb I have run queue sepratly and check in redis monitor it's receiving the message. But not trigger real time in 2 seprate browser.

[2020-04-29 10:41] rvkvino commented on #86
Hello,
I have tried this talk example. I can check in multiple browser, I have created account in Pusher and I have updated the credentials in the .env file.  Even I have run the php artisan queue:listen and redis-cli monitor. I can see the data receiving in queue and redis also. But I didn't get the data in pusher account debug console and also not happening live update in other end. Is there any

[2020-04-29 11:02] rvkvino commented on #75
Hello,
I have downloaded and checked this latest version talk example. And I have created account in pusher and I have configured in this .env file also. But still not it's working in live update. I can get the messages if I reload the page. Live update not happening in page. Could you please help me on this ASAP.

[2020-05-07 04:08] rvkvino opened #153 "Talk is not working for live update of conversation"
I have installed talk example, and added pusher keys.Even I have run the PHP artisan queue:listen and redis-cli monitor. I can see the data receiving in queue by monitoring Redis. Then what may be the issue on this. Can you please help any one did face the issue like this and fixed.

[2020-05-26 01:04] whoami213 commented on #150
+1

[2020-06-22 16:41] MibuSawatori commented on #123
I found the same issue,

If we use getMessages the $limit=20 seems to have a bug in MySQL for Linux. It doesn't happen in Windows running WAMP though. The safest workaround would be to put "999999999" value on the last parameter.

I hope @nahid can check this.

Thanks.

[2020-09-09 09:42] jaymal opened #154 "Pagination in threads"
How do you suggest pagination should be implemented in threads?

[2020-12-08 16:27] bruno9520 opened #155 "Laravel 8 support"
Can you please update to support Laravel 8?

Thanks

[2021-02-17 06:48] softActor531 commented on #43
Hello nahid,
How  to implement email notification for users about new messages in this package?

[2021-03-03 07:40] Paresh7622 commented on #68
what is the solution @nahid @packytagliaferro

[2021-03-25 13:34] nahid commented on #155
@bruno9520 version 2.4 has been released with Laravel 8 and PHP 8 support. Please let me know if you are facing any issues

[2021-03-25 13:34] #155 closed

[2021-05-06 13:48] umagloire99 opened #158 "Problem to handle the realtime with Vuejs as front end"

[2021-05-06 22:38] nazmulpcc commented on #158
Can be a little bit more specific? What have you tried? What's the specific error you are facing? What are the versions of the packages you are using?

[2021-09-14 22:14] ronlinet opened #159 "Add participant to a conversation"
Don't see how to add a participant to a conversation. Does it have any such an option ?

[2021-11-23 01:11] rigunbd opened #160 "How to use Live Talk in Vuejs?"
Dear, this is a great package indeed. You should maintain this package. How can I use live talk feature in VueJs. Thanks!

[2022-03-24 07:33] mobarokhossen opened #161 "Pusher Trigger Problem when i sent the message Broadcast->dispatch is not working"
Can please help what is the issue here? I config and setup done. but **Broadcast->dispatch is not working**

[2022-03-24 07:33:05] local.ERROR:  {"userId":3,"exception":"[object] (Pusher\\ApiErrorException(code: 0):  at C:\\xampp\\htdocs\\fm\\script\\vendor\\pusher\\pusher-php-server\\src\\Pusher.php:533)
[stacktrace]
#0 C:\\xampp\\htdocs\\fm\\script\\vendor\
ahid\\talk\\src\\Live\\Webcast.php(55)

[2022-09-28 11:10] durjoy999 opened #162 "live-chat"